../../panda3d/panda3d-1.11.0-cp39-cp39-macosx_10_9_x86_64.whl; sys_platform == 'darwin'
../../panda3d/panda3d-1.11.0-cp37-cp37m-linux_10_9_x86_64.whl; sys_platform == 'linux'
../../panda3d/panda3d-1.11.0-cp37-cp37m-win32_10_9_x86_64.whl; sys_platform == 'win32'